<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Selenium Appium Tests"
	parallel="tests">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="Amazon Tests" preserve-order="true">
		<parameter name="browser" value="chrome" />
		<parameter name="testdepth" value="1" />
		<parameter name="Workbook" value="amazonTestData.xls" />
		<parameter name="Sheet" value="productSearch" />		
		<classes>
			<class name="web.amazon.TestAmazon">
				<methods>
					<include name="searchItem" />
				</methods>
			</class>
		</classes>
	</test>
</suite>


